.side-bar{
  width: 200px;
  height: 100%;
  background-color: #00CCFF;
  position: absolute;
  color: #fff;
  left: 0;
  top: 0;
  .side-switch{
    position: absolute;
    right: 5px;
    cursor: pointer;
    font-size: 28px;
  }
  .side-bar-title{
    font-size: 18px;
    display: block;
    border-left: 4px solid #fff;
    margin-top: 40px;
    margin-left: 10px;
    padding-left: 8px;
  }
}
